@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root{
    --primary-color: blue;
}

body{
    background: #f0efef;
    margin: 0;
    font-family: 'Poppins';
}

.topbar {
    background: white;
    padding: 0.5em;
    position: fixed;
    top: 0px;
    width: 100%;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: red;
        font-size: 1.2em;
        flex: 3;
        span{
            color: var(--primary-color);
        }
    }
    nav {
        display: none;
    }
    

    .mobile-menu {
        cursor: pointer;
    }
}
a {
    color: black;
    text-decoration: none;
}

section {
    margin-top: 45px;
    .events{
        margin: 0 .5em 1em .5em;
        background: white;
        border-radius: 5px 20px 20px 20px;
        box-shadow: 1px 1px 3px var(--primary-color);
        .events-vert{
            display: flex;
            margin: 0em .5em;
            align-items: center;
            .event{
                flex: 3;
                margin-right: .3em;
                .container-time-who{
                    display: flex;
                    place-content: space-between;
                }
                .container-name{
                    text-align: center;
                    font-size: 1.1em;
                    font-weight: bold;
                }
                .spacing{
                    color: rgb(177, 177, 177);
                    font-size: 1.1em;
                }
            }
            .extend-button{
                margin: 0em .5em;
                cursor: pointer;
            }
        }
        .description {
            display: none;
            overflow: hidden;
            background: rgb(207, 207, 207);
            border-radius: 0px 0px 20px 20px;
            .container{
                margin: 0em .5em .5em .5em;
                .key {
                    font-size: 1.1em;
                    font-weight: bold;
                }
                .value {
                    color: rgb(34, 33, 33);
                }
            }
        }
    }
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.date {
    // background-color: rgb(134, 209, 184);
    margin: 0;
    padding-left: 0.5em;
}

// .active, .collapsible:hover {
//     background-color: #ccc;
//   }


nav.mobile-menu {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: black;
    height: 100vh;
    padding: 1m;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        a{
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}