{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Scenar</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
</head>

<body>
    <div class="topbar">
        <div class="container">
            <a class="logo" href="#">Tech<span>Scénář</span></a>
            <input type="text" id="myInput" class="input_box" onkeyup="myFunction();myFunction2()" placeholder="Search..">
        </div>
    </div>
    <section>
        <ul id="myUL" class="ulul">
            {% for key,value in data.items %}
            <li class="date_li">
                <div class="date" style="background:hsl({{value.0.hue}}, 100%, 91%);">
                    <div class="date-text">{{key}}</div>
                    {% for i in value %}
                    <div class="events">
                        <ul class="ulul">
                            <li class="event_li">
                                <div class="events-vert">
                                    <div class="event">
                                        <div class="container-name">
                                            <a class="namename">{{i.name}}</a>
                                        </div>
                                        <div class="container-time-who">
                                            <a class="timerange">{{i.timerange}}</a>
                                            <a class="who">{{i.organizer}}</a>
                                            <div class="searchstring">{{i.all_strings}}</div>
                                            <div class="searchstring_date">{{i.all_strings_date}}</div>
                                        </div>
                                    </div>
                                    {% if i.description or i.location %}
                                    <div class="extend-button">
                                        <p><i class="arrow"></i></p>
                                    </div>
                                    {% endif %}
                                </div>
                                {% if i.description or i.location %}
                                <div class="description">
                                    <div class="container">
                                        {% if i.location %}
                                        <a class="key">Lokace</a><br>
                                        <a class="value">{{i.location}}</a>
                                        {% endif %}
                                        {% if i.description and i.location %}
                                        <br>
                                        <br>
                                        {% endif %}
                                        {% if i.description %}
                                        <a class="key">Popis</a><br>
                                        {% autoescape off %}
                                        <div class="value">{{i.description|linebreaks}}</div>
                                        {% endautoescape %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>

    <script>
        var coll = document.getElementsByClassName("events-vert");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByClassName('event_li');

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByClassName("searchstring")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }

        function myFunction2() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByClassName('date_li');

            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByClassName("searchstring_date")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

</body>

</html>