<!-- https://youtu.be/D-h8L5hgW-w?t=2766 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Scenar</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="topbar">
        <div class="container">
            <a href="index.html"><span>Tech Scenar</span></a>

            <img id="mobile-open-menu" class="mobile-menu" src="images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="mobile-close-menu" class="mobile-menu-exit" src="images/exit.svg" alt="Close Navigation">
                <ul class="primary-nav">
                    <li class="current"><a href="#">Today</a></li>
                    <li><a href="#">Whole weekend</a></li>
                </ul>
                <ul class="secondary-nav">
                    <li><a href="#">help</a></li>
                    <li class="premium"><a href="#">how to?</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <section>
        <div class="events">
            <div class="container">
            </div>
        </div>
    </section>
    <table>
        <thead>
            <tr>
                <th colspan="4">EVENTS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>name</td>
                <td>description</td>
                <td>location</td>
                <td>organizer</td>
            </tr>
                {% for key,value in data.items %}
                    <tr>
                        <td>{{value.name}}</td>
                        <td>{{value.description}}</td>
                        <td>{{value.location}}</td>
                        <td>{{value.organizer}}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</body>
</html>