<!-- https://youtu.be/D-h8L5hgW-w?t=6338 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Scenar</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="topbar">
        <div class="container">
            <a class="logo" href="#">Tech<span>Scénář</span></a>

            <img id="mobile-open-menu" class="mobile-menu" src="static/images/menu.svg" alt="Open Navigation">

            <nav>
                <img id="mobile-close-menu" class="mobile-menu-exit" src="static/images/exit.svg" alt="Close Navigation">
                <ul class="primary-nav">
                    <li class="current"><a href="#">Today</a></li>
                    <li><a href="#">Whole weekende</a></li>
                </ul>
                <ul class="secondary-nav">
                    <li><a href="#">help</a></li>
                    <li class="premium"><a href="#">how to?</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <section>
        {% for key,value in data.items %}
        <div class="date" style="background:hsl({{value.0.hue}}, 100%, 91%);">
            <div class="date-text">{{key}}</div>
            {% for i in value %}
            <div class="events">
                <div class="events-vert">
                    <div class="event">
                        <div class="container-name">
                            <div class="namename">{{i.name}}</div>
                        </div>
                        <div class="container-time-who">
                            <div class="timerange">{{i.timerange}}</div>
                            <!-- <div class="spacing">|</div> -->
                            <div class="who">{{i.organizer}}</div>
                        </div>
                    </div>
                    {% if i.description or i.location %}
                    <div class="extend-button">
                        <p><i class="arrow"></i></p>
                    </div>
                    {% endif %}
                </div>
                {% if i.description or i.location %}
                <div class="description">
                    <div class="container">
                        {% if i.location %}
                            <div class="key">Lokace</div>
                            <div class="value">{{i.location}}</div>
                        {% endif %}
                        {% if i.description and i.location %}
                        <br>
                        {% endif %}
                        {% if i.description %}
                            <div class="key">Popis</div>
                            <div class="value">{{i.description|linebreaksbr}}</div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </section>

    <script>
        var coll = document.getElementsByClassName("events-vert");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
        });
        }
    </script>

</body>
</html>