@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root{
    --primary-color: blue;
}

body{
    background: #f0efef;
    margin: 0;
    font-family: 'Poppins';
}

.topbar {
    background: white;
    padding: 0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex; 
    align-items: center; 
    box-shadow: 1px 1px 1px var(--primary-color);
}

.topbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: red;
    font-size: 1.2em;
    margin-right: 1em;
    flex-shrink: 0; /* Prevent logo from growing */
}

.topbar .input_box {
    flex-grow: 1; /* Grow to fill available space */
    font-size: 1em;
    border: 1px solid #ddd;
    padding: 0.5em; /* Add some padding inside the input box */
    margin-left: auto; /* Push the input box to the right */
}


section {
    margin-top: 3.2em;
    .events{        
        .event_li {
        margin: 0 .5em 1em .5em;
        background: white;
        border-radius: 5px 20px 20px 20px;
        box-shadow: 1px 1px 3px var(--primary-color);
        }
        .events-vert{
            display: flex;
            margin: 0em .5em;
            align-items: center;
            .event{
                flex: 3;
                margin-right: .3em;
                .container-time-who{
                    display: flex;
                    place-content: space-between;
                }
                .container-name{
                    text-align: center;
                    font-size: 1.1em;
                    font-weight: bold;
                }
                .spacing{
                    color: rgb(177, 177, 177);
                    font-size: 1.1em;
                }
            }
            .extend-button{
                margin: 0em .5em;
                cursor: pointer;
            }
        }
        .description {
            display: none;
            overflow: hidden;
            background: rgb(207, 207, 207);
            border-radius: 0px 0px 20px 20px;
            .container{
                margin: 0em .5em .5em .5em;
                .key {
                    font-size: 1.1em;
                    font-weight: bold;
                }
                .value {
                    color: rgb(34, 33, 33);
                }
            }
        }
    }
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.date {
    margin: 0;
    padding-left: 0.5em;
    .date-text {
        font-size: 1.1em;
        font-weight: bold;
        color: rgb(48, 48, 48);
    }
}

.ulul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.searchstring {
    display: none;
}

.searchstring_date {
    display: none;
}

.end_epoch {
    display: none;
}

.begin_epoch {
    display: none;
}
