name: Publish Docker image to GitHub Packages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  env_var: ${{ vars.ENV_CONTEXT_VAR }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push the Simple-Calendar docker EN image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile.en
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/citytriathlon/simple-calendar:${{ github.run_number }}
            ghcr.io/citytriathlon/simple-calendar:latest

      - name: Build and push the Simple-Calendar docker CTT image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile.ctt
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/citytriathlon/simple-calendar:${{ github.run_number }}-ctt
            ghcr.io/citytriathlon/simple-calendar:latest-ctt
